<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Retirada de Mudas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/dashboard-style.css') }}">
</head>
<body>
    <header class="header">
        <h1>Reflorest Web</h1>
    </header>
    <div class="container">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="dashboard.html">Início</a></li>
                    <li><a href="plantas.html">Plantas</a></li>
                    <li><a href="historico.html">Histórico</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            <section class="section">
                <h2>Histórico de Retirada de Mudas</h2>
            </section>
        </main>
    </div>
    <footer class="footer">
        <p>&copy; 2024 Reflorest Web. Todos os direitos reservados.</p>
    </footer>
</body>
</html>